<div class="container pt-4">
    <div class="container">
        <div class="text-center">
            <h1>DIVISION LIST</h1>
        </div>
    </div>
</div>

<script src="/asset/js/site/division/list.js"></script>

<%- contentFor('pageTitle') %>
Division List