<div class="container pt-4" id="vue-add-app">
	<div class="container">
		<%- include('./_form.ejs', {
            formMethod: 'POST',
            userData: dataBack
        }) %>
	</div>
</div>

<script src="/asset/js/site/user/addAndEdit.js"></script>

<script type="module">
import {
	createApp
} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

createApp({
	data() {
		return {
			divisionsList: [],
			posList: POS_ARR // POS_ARR in site/constant.js
			
		}
	},
	methods: {

	},
	mounted() {
		fetch('/api/admin/divisions')
			.then((res) => res.json())
			.then((data) => {
				this.divisionsList = data.data
			})
	}
}).mount('#vue-add-app')
</script>


<%- contentFor('pageTitle') %>
Add