<div class="container pt-4">
	<div class="container">
		<%- include('./_form.ejs', {
            formMethod: 'POST',
            formPurpose: 'editUser',
            userData: user
        }) %>
	</div>
</div>

<script src="/asset/js/site/user/addAndEdit.js"></script>

<%- contentFor('pageTitle') %>
Edit User