<% if (loginUser.name) { %>
<aside>
	<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
		<div class="position-sticky">
			<div class="list-group list-group-flush mx-3 mt-4">
				<!-- 1 -->
				<a href="/admin/users/list" class="list-group-item list-group-item-action py-2 ripple <% if(typeof activeTab !== 'undefined') { %> <%= activeTab === 'listUserTab'? 'active':'' %> <% } %> ">
					<i class="fas fa-users fa-fw me-3"></i><span>User List</span>
				</a>
				<% if (loginUser.position_id === 0) { %> 
				<!-- 2. Only show for General Director (0)-->
				<a href="/admin/divisions/list" class="list-group-item list-group-item-action py-2 ripple <% if(typeof activeTab !== 'undefined') { %> <%= activeTab === 'listDivisionTab'? 'active':'' %> <% } %> ">
					<i class="fas fa-building fa-fw me-3"></i><span>Division List</span>
				</a>
				<% } %>
			</div>
		</div>
	</nav>
</aside>
<% } %>